@model IEnumerable<Entities.Concrete.Blog>
@foreach (var item in Model)
{
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@item.BlogImage');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <span class="post-category text-white bg-success mb-3">@item.Category.CategoryName</span>
                        <h1 class="mb-4"><a>@item.BlogTitle</a></h1>
                        <div class="post-meta align-items-center text-center">
                            <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="../../Templates/miniblog/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                            <span class="d-inline-block mt-1">@item.Author.AuthorName</span>
                            <span>&nbsp;-&nbsp; @(((DateTime)item.BlogDate).ToString("dd-MMM-yyyy"))</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}