@model Entities.Concrete.Blog
@{
    ViewBag.Title = "UpdateBlog";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("#")
    @Html.TextBoxFor(x => x.BlogId, new {@class = "form-control"})
    <br/>
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.BlogTitle, new {@class = "form-control"})
    <br/>
    @Html.Label("Kategori")
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>) ViewBag.valuesCategory, new {@class = "form-control"})
    <br/>
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.BlogImage, new {@class = "form-control"})
    <br/>
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.BlogDate, new {@class = "form-control"})
    <br/>
    @Html.Label("Yazar")
    @Html.DropDownListFor(x => x.AuthorId, (List<SelectListItem>) ViewBag.valuesAuthor, new {@class = "form-control"})
    <br/>
    @Html.Label("İçerik")
    @Html.TextAreaFor(x => x.BlogContent, 5, 20, new {@class = "form-control"})
    <br/>
    <button class="btn btn-warning">Güncelle</button>
</form>

